<html>

<head>
	<title>
		Dashboard page
	</title>

	<meta charset="utf-8" />

	<link rel="apple-touch-icon"
		  sizes="180x180"
		  href="/fav/apple-touch-icon.png" />
	<link rel="icon"
		  type="image/png"
		  sizes="32x32"
		  href="/fav/favicon-32x32.png" />
	<link rel="icon"
		  type="image/png"
		  sizes="16x16"
		  href="/fav/favicon-16x16.png" />
	<link rel="manifest"
		  href="/fav/site.webmanifest" />
	<link rel="mask-icon"
		  href="/fav/safari-pinned-tab.svg"
		  color="#5bbad5" />
	<meta name="msapplication-TileColor"
		  content="#da532c" />
	<meta name="theme-color"
		  content="#ffffff" />

	<link href="css/normalize.css"
		  rel="stylesheet" />

	<link href="css/dashboard.css"
		  rel="stylesheet" />

	<meta name="viewport"
		  content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

	<div class="page page--dashboard">
		<aside class="page__aside aside vertical vertical--big">
			<div class="text aside__logo">
				Sidebar
			</div>
			<nav class="vertical vertical--small">
				<a href="#"
				   class="nav-button nav-button--active click">
					<span class="icon nav-button__icon"
						  style="background-image: url('/svg/nav/home.svg')"></span>
					<span class="text text--light">Home</span>
				</a>
				<a href="#"
				   class="nav-button nav-button--active click">
					<span class="icon nav-button__icon"
						  style="background-image: url('/svg/nav/orders.svg')"></span>
					<span class="text text--light">Orders</span>
				</a>
				<a href="#"
				   class="nav-button nav-button--active click">
					<span class="icon nav-button__icon"
						  style="background-image: url('/svg/nav/products.svg')"></span>
					<span class="text text--light">Products</span>
				</a>
			</nav>
		</aside>
		<header class="header">
			<div class="layout header__content text--small">
				<div class="header__search relative">
					<input type="text"
						   placeholder="Search"
						   class="text field field--header">
					<span class="icon header__icon-search"
						  style="background-image: url('/svg/header/search.svg')"></span>
					<span class="icon icon--header-settings icon--button icon--color-blue click"
						  style="background-image: url('/svg/header/settings.svg')"></span>
				</div>

				<div class="header__icon-group">
					<span class="icon icon--header icon--button icon--color-yellow-light click"
						  style="background-image: url('/svg/header-group/antenna.svg')"></span>

					<span class="icon icon--header icon--button icon--color-blue-lighter click"
						  style="background-image: url('/svg/header-group/symbols.svg')"></span>

					<span class="icon icon--header icon--button icon--color-yellow-light click"
						  style="background-image: url('/svg/header-group/tabler.svg')"></span>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="layout">
				<section class="box analytic__block">
					<div class="analytic analytic--double analytic--purple">
						<span class="icon analytic__button icon--button icon--color-purple click"
							  style="background-image: url('/svg/analytic/money.svg')"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--light text--bold">$500</div>
							<div class="text text--small text--lighter">Total earning</div>

							<span class="icon analytic__arrow"
								  style="background-image: url('/svg/analytic/blue-arrow.svg')"></span>
						</div>
					</div>

					<div class="analytic analytic--double analytic--blue">
						<span class="icon analytic__button icon--button icon--color-blue click"
							  style="background-image: url('/svg/analytic/order.svg')"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--light text--bold">$961</div>
							<div class="text text--small text--lighter">Total order</div>

							<span class="icon analytic__arrow"
								  style="background-image: url('/svg/analytic/blue-arrow.svg')"></span>
						</div>
					</div>

					<div class="analytic--mod analytic--blue">
						<span class="icon analytic__button icon--button icon--color-blue click"
							  style="background-image: url('/svg/analytic/money.svg')"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--size-mod text--light text--bold">$203k</div>
							<div class="text text--small text--lighter">Total income</div>
						</div>
					</div>

					<div class="analytic--mod analytic--light border--mod">
						<span class="icon analytic__button icon--button icon--color-yellow-light click"
							  style="background-image: url('/svg/analytic/shop.svg')"></span>

						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--size-mod text--black text--bold">$203k</div>
							<div class="text text--small text--gary">Total income</div>
						</div>
					</div>
				</section>

				<div class="main__list-payment">
					<section class="box margin-top min-height">
						<h2 class="text list__title text__black text--bold">Purchase list</h2>

						<hr class="divider">

						<div class="list__block">
							<div>
								<div class="text margin-bottom">ID437661</div>
								<div class="text">May 11, 2023, 14:21</div>
							</div>

							<div>
								<div class="text margin-bottom">AirOn ProCam</div>
								<div class="text">7/8 USB Type-C</div>
							</div>

							<div>
								<div class="text margin-bottom">132.32 EUR</div>
								<div class="text list-red">Not paid</div>
							</div>

							<div>
								<div class="text margin-bottom">Customer</div>
								<div class="text">robin@com.de</div>
							</div>
						</div>

						<hr class="divider">

						<div class="list__block">
							<div>
								<div class="text margin-bottom">ID437661</div>
								<div class="text">May 11, 2023, 14:21</div>
							</div>

							<div>
								<div class="text margin-bottom">PHILIPS Essential</div>
								<div class="text">HD9200/90</div>
							</div>

							<div>
								<div class="text margin-bottom">543 USD</div>
								<div class="text list-green">Pay by Stripe</div>
							</div>

							<div>
								<div class="text margin-bottom">Customer</div>
								<div class="text">dima@com.ua</div>
							</div>
						</div>
					</section>

					<section class="box margin-top payment__block-width">
						<h2 class="text list__title text__black text--bold">Payment</h2>

						<hr class="divider">

						{{!-- Radio button --}}
						<label class="container"><span class="text">Credit card</span>
							<input type="radio"
								   checked="checked"
								   name="radio">
							<span class="checkmark click"></span>
						</label>
						<label class="container"><span class="text">Debit card</span>
							<input type="radio"
								   name="radio">
							<span class="checkmark click"></span>
						</label>
						<label class="container"><span class="text">PayPal</span>
							<input type="radio"
								   name="radio">
							<span class="checkmark click"></span>
						</label>
						{{!-- ------------------------}}

						<div class="payment__block padding-top-medium">
							<div>
								<div class="display-6 text padding-bottom-small color-dark">Name on card</div>
								<div class="relative click">
									<div class="field field--select relative input-width">
										<input class="text textcolor-dark">
									</div>
								</div>
							</div>

							<div>
								<div class="display-6 text padding-bottom-small color-dark">Credit card number</div>
								<div class="relative click">
									<div class="field field--select relative input-width">
										<input class="text color-dark">
									</div>
								</div>
							</div>

							<div>
								<div class="display-6 text padding-bottom-small color-dark">Expiration</div>
								<div class="relative click">
									<div class="field field--select relative input-width">
										<input class="text color-dark">
									</div>
								</div>
							</div>

							<div>
								<div class="display-6 text padding-bottom-small color-dark">CVV</div>
								<div class="relative click">
									<div class="field field--select relative input-width">
										<input class="text color-dark">
									</div>
								</div>
							</div>
						</div>

						<hr class="divider">

						<div class="payment__block">
							<div>
								<div class="display-6 text padding-bottom-small color-dark">Country</div>
								<div class="relative click">
									<div class="field field--select relative input-width">
										<span class="text color-dark">Choose...</span>
										<span class="icon icon--input-settings click"
											  style="background-image: url('/svg/input/arrow-input.svg')"></span>
									</div>
									<select class="field__select">
										<option value="dog">Dog</option>
										<option value="cat">Cat</option>
										<option value="hamster">Hamster</option>
										<option value="parrot">Parrot</option>
										<option value="spider">Spider</option>
									</select>
								</div>
							</div>

							<div>
								<div class="display-6 padding-bottom-small color-dark">State</div>
								<div class="relative click">
									<div class="field field--select relative input-width">
										<span class="text color-dark">Choose...</span>
										<span class="icon icon--input-settings click"
											  style="background-image: url('/svg/input/arrow-input.svg')"></span>
									</div>
									<select class="field__select">
										<option value="dog">Dog</option>
										<option value="cat">Cat</option>
										<option value="hamster">Hamster</option>
										<option value="parrot">Parrot</option>
										<option value="spider">Spider</option>
									</select>
								</div>
							</div>
						</div>

						<hr class="divider">

						<a href="#"
						   class="nav-button button-payment click">
							<span class="text text--light">Continue to checkout</span>
						</a>
					</section>
				</div>
			</div>
		</main>

	</div>

</body>

</html>