{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{! <section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button"
            class="button"
            id="button">Купити</button>

    <p class="user">Link</p>
</section> }}

{{! <section class='p-5 box'>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class='user'>Link</p>
</section>

<section class='sdccsdcsc d dccsdc p-5 box'>
    <strong>Text</strong>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <strong>Text</strong>
    <em>Text</em>
    <section>
        <p class='scssdsdcsdc sd scsdcs'>Link</p>
    </section>
</section> }}

{{! <footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <p class="user">
        <em class="child">Test EM</em>
    </p>

    <div>
        <div>
            <em class="child">Test EM</em>
        </div>
    </div>

    <div class="child">Test EM</div>
</footer> }}

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}

{{! <div class="card p-5 m-5 card-dark">
        <div class="item">First</div>
        <div class="item">First</div>
        <div class="item">First</div>
        <p class="item">Second</p>
        <p class="item">Second</p>
        <strong class="item">Test strong</strong>
        <article class="item">Last</article>
        <article class="item">Last</article>
        <p></p>
        <article class="item">Last</article>
        <article class="item">Last</article>
        <article class="item">Last</article>
        <article class="item">Last</article>
    </div> }}

{{! <div class="card p-5 m-5 card-dark">
        <input class="input-dark p-5"
               placeholder="This is text"
               required />
        <input class="input-dark"
               type="number" />
    </div>

    <div class="card p-5 m-5 card-dark">
        <img alt="image card 100px small"
             class="small-img"
             src="https://picsum.photos/200/300"
             height="100px" />

        <a href="https://picsum.photos/200/300"
           rel="externalsdfsdfsdf fssdfsdfsd cvsdv">Link</a>
        <br />
        <button class="before-after btn">Click me</button>
        <br />
        <a class="before-after small sdfsdf-btngdfgfg fdfgd-big sdfwfsbtn-secondary"
           href="https://picsum.photos/200/300">Click me</a>
    </div>

    <div class="card p-5 m-5 card-dark">
        <p class="before-after">
            This is text about info big test info<br />This is text about info big test info
        </p>
    </div> }}

<div lang="fr" class="card p-5 m-5 card-dark">
    <a class="link" href="https://learn.microsoft.com/ru-ru/visualstudio/test/how-to-use-google-test-for-cpp?view=vs-2022">Click me</a>
</div>

<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input />
    <span>Hello world!</span>
    <button>Test button</button>
</div>

<div class="p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>Disabled button</button>
</div>

<div class="p-5 m-5 card-dark">
    <input class="inp" />

    <div class="mt-5">
        <div>
            <input type="checkbox" checked />
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox" />
            <span>Second checkbox</span>
        </div>
    </div>
</div>

<div class="p-5 m-5 card-dark">
    <div>
        <input type="email" required class="valid" placeholder="text" />
        <span>Test text</span>
    </div>

    <div class="mt-5">
        <input type="number" min="10" max="200" required class="number" />
    </div>
</div>