{{#with data}}

<div class="card_articles">
	<img src="{{photo}}"
		 alt="card"
		 class="card_image">
	<h3 class="card_title">{{name}}</h3>
	<p class="card_text">{{description}}</p>
	<a class="card_button"
	   href="#">Read All</a>
</div>

{{/with}}