<footer class="row g-0 footer">
	{{#with footer}}
	<div class="col-3">
		{{>nav_2 list=pages isVertical=false}}
	</div>

	<div class="col-3">
		<span class="footer_copyright">{{copyright}}</span>
	</div>
	{{/with}}
</footer>